HOST=0.0.0.0
PORT=1337

APP_KEYS=K1xZ9yP4rTqv7sW2eHfD3aL8mN0bC6uF,Qw2E4rT6yU8iO0pL1kJ3hG5fD7sA9zXc,Zx1C3vB5nM7kL9oP0iU2yT4rE6wQ8sA,As4D6fG8hJ0kL2pO3iU5yR7tE9wQ1zX
API_TOKEN_SALT=qmc9Br0o37KN8f0fSDl+Ag==
ADMIN_JWT_SECRET=vC4emDnI5S2yjfAYUAmdZg==
JWT_SECRET=YnHoVwy9Dz8Af0epV4Xfwg==

